<launch>

    <include file="$(find rplidar_ros)/launch/rplidar_a3.launch"></include>

    <include file="$(find rosbot_ekf)/launch/all.launch">
        <arg name="rosbot_pro" value="true"/>
    </include>

    <include file="$(find rosbot_description)/launch/gmapping.launch" />

    <node pkg="move_base" type="move_base" name="move_base" output="log">
        <param name="controller_frequency" value="10.0"/>
        <rosparam file="$(find rosbot_description)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rosbot_description)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rosbot_description)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rosbot_description)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rosbot_description)/config/trajectory_planner.yaml" command="load" />
    </node>

</launch> 